@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

/*FONTS*/

@font-face {
    font-family: 'IDroid';
    src: url(../fonts/idroid.otf) format(opentype);
}

 @font-face {
    font-family: 'Bebas Neue';
    src: url(../fonts/BebasNeue-Regular.ttf), format(truetype);
 }

 @font-face {
    font-family: 'Anton Regular';
    src: url(../fonts/Anton-Regular.ttf) format(truetype);
 }
/*ROOT*/

:root {
    --cor1: #454C59;
    --cor2: #F24405;
    --cor3: #BF3604;
    --cor4: #F28D77;
    --cor5: #D9D2D3;
}

/*TAGS CONFIG.*/

h1#tudo {
    text-align: center;

    margin: 20px;
}

h2#subtudo {
    text-align: center;
}
/*BOXS CONFIG.*/

body {
    background-color: #454C59;
}

header {
    background-color: var(--cor2);

    min-height: 50px;

    padding: 25px;

    text-align: center;
    font-family: 'IDroid', Arial, Helvetica, sans-serif;
}

nav {
    background-color: var(--cor3);

    padding: 5px;
}

main {
    background-color: var(--cor5);

    min-width: 480px;
    max-width: 1366px;
    margin: auto;
    padding: 20px;

    border-radius: 5px;
}