@charset "UTF-8";

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 2cm;
}

h2 {
    color: crimson;
    text-align: center;
}

h3 {
    color: red;
    text-align: center;
}

div {
    text-align: center;
}