@charset "UTF-8";

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background-image: linear-gradient(to right, #BF4904, #F29A2E, #F2B56B);
}

main {
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 4px 0px #a33e0481;
    width: 1000px;
    margin: auto;
    padding: 10px;
}

p {
    text-align: justify;
    text-indent: 2%;
}

h1 {
    color: #ca0c0c;
    text-shadow: 2px 1px 1px #a7090983;
}

h2 {
    text-align: center;
    color: #8C0E03;
}

h3 {
    text-align: center;
    color: #591902;
}

div {
    text-align: center;
}